
<h4>Profile</h4>
<div class="profile-block">
	<span class="label">Username</span>
	<span class="pdata" data-ng-bind="profile.username"></span>
</div>

<div  class="profile-block">
	<span class="label">Email</span>
	<span class="pdata" data-ng-bind="profile.email"></span>
</div>

<div  class="profile-block">
	<span class="label">Followers</span>
	<span class="pdata" data-ng-bind="profile.followers || 0" lable="sdasdadsasdsdasdasd"></span>
</div>

<div  class="profile-block">
	<span class="label">Following</span>
	<span class="pdata" data-ng-bind="profile.following || 0"></span>
</div>

<!--<button class="btn btn-danger" ng-click="logout()">Logout</button>-->

